body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

nav a:link, #get a:link, a {
    text-decoration-line: none;
    word-spacing: 0px;
    letter-spacing: 1px;
    color: black;
}

nav {
    text-align: center;
    word-spacing: 35px;
    text-transform: uppercase;
}

img#port {
    width: 180px;
    height: 180px;
    border-radius: 85px;
}

div.sect {
    margin: 30px 130px;
}

div.img-left {
    width: 30%;
    display: inline-block;
}

div#details {
    width: 69%;
    display: inline-block;
    vertical-align: top;
}

#intro1 h1 {
    font-weight: 300;
    font-size: 55px;
    position: relative;
    bottom: 30px;
}