body {
  margin: 0px;
}
/* #navig {
  list-style: none;
  display: inline-block;
  text-decoration-line: none;
  word-spacing: 0px;
  letter-spacing: 1px;
  color: black;
} */

.logo {
  width: 20%;
  display: inline-block;
  padding: 20px;
}

nav {
  text-align: right;
  word-spacing: 35px;
  text-transform: uppercase;
  width: 70%;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
}

#navig {
  text-align: right;
}

#navig li{
margin-right: 40px;
list-style: none;
  display: inline-block;
}

#navig a:link {
  text-decoration-line: none;
  word-spacing: 0px;
  letter-spacing: 1px;
  color: black;
}

header {
  width: 100%;
}

/* header {
  width: 19%;
  vertical-align: top;
  background: rgba(82, 164, 199, 0.28);
  background-color: #f8f8f8;
background-image: linear-gradient(29deg, #f8f8f8 0%, #52a4c7 100%);

} */

#intro1 {
  width: 100%;
  background: rgb(82,164,199,28%);
  height: 482px;
}

header, #intro1 {
  display: inline-block;
}

#details {
  display: inline-block;
  /* background: rgb(82,164,199,28%); */
  height: 482px;
  width: 59%;
  vertical-align: top;
  width: 65%;
}

#img-left {
  display: inline-block;
  width: 30%;
}

.img-left{
  display: inline-block;
  /* background: rgb(82,164,199,28%); */
  /* height: 742px; */
  width: 34%;
  vertical-align: top;
  text-align: center;
  /* border: 1px solid lightgrey; */
  /* border-radius: 500px; */
  /* padding: 15px; */
  /* margin: 15px; */
  width: 28%;
  display: inline-block;
  /* background: rgb(82,164,199,28%); */
  /* height: 742px; */
  width: 34%;
  vertical-align: top;
  text-align: center;
  /* border: 1px solid lightgrey; */
  /* border-radius: 500px; */
  /* padding: 5px; */
  /* margin: 5px; */
  width: 34%;
  /* margin: auto; */
  /* background: rgb(82,164,199,28%); */
  height: 482px;
  margin: 0px;
}

.img-left svg {
  width: 90%;
  vertical-align: top;
  /* border-radius: 500px; */
  height: 413px;
}

img#port {
  width: 58%;
  height: 425px;
  width: 77%;
  height: 425px;
  width: 93%;
  /* height: 425px;
  width: 72%; */
}

/* font-family: 'Fjalla One', sans-serif;
font-family: 'Fjord One', serif;
font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Square Peg', cursive; */

.sect {
  /* position: relative; */
}

.sect {
  /* position: relative; */
  margin: 30px;
}

#details h1 {
  font-family: 'Fjalla One';
  font-size: 92px;
  /* position: absolute;
  top: 0%;
  left: 18%; */
  font-size: 74px;
  padding: 0px 32px;
}

#about {
  display: inline-block;
  width: 100%;
}

.main-about, .main-experience, .main-project {
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
}

.main-project .back-img {
  margin: 25px;
}

/* .main-experience {
  margin: 25px;
} */

.details-about {
  display: inline-block;
  /* background: rgb(82,164,199,28%); */
  /* height: 482px; */

  width: 100%;
  padding: 20px 0px;
}

.details-about h1 {
  padding-left: 25px;
}

.details-about p {
  padding: 0px 25px;
}

.details-about h1 {
  padding-left: 25px;
  font-family: 'Square Peg';
  font-size: 55px;
  margin-bottom: 0px;
}

.details-about p {
  padding: 0px 25px;
  font-size: 20px;
  font-family: 'Fjord One';
}

.experience-section {
  display: inline-block;
  /* width: 80%; */
  margin: 25px;
}

.image-wrapper {
  /* border: 1px solid lightgrey; */ 
  /* border-radius: 500px; */
  padding: 5px;
  margin: 5px;
  width: 71%;
  /* text-align: center; */
  margin: auto;
}

.main-experience .name, .main-project .name {
  font-family: 'Fjalla One'; 
  font-size: 36px;
}

.job-section {
  border-bottom: 1px solid #00000040;
  padding: 5px;
  margin: 10px;
}

.imp {
  font-family: 'Fjord One';
}

.job-section h2 {
  font-size: 18px;
  font-family: 'Fjalla One'; 
  /* text-align: center; */
  font-weight: 400;
}

img#uniq, img#realpage {
  /* height: 50px; */
  /* width: 140px; */
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.imp {
  display: inline-block;
  width: 70%;
}

.job-section img {
  /* width: 18%; */
  /* height: 18%; */
  padding: 20px;
  width: 55%;
}

.img-job-section, .imp {
  display: inline-block;
}

.img-job-section {
  /* width: 29%; */
  vertical-align: top;
}

.tag {    display: inline;
  display: inline-block;
  /* margin-right: 3px; */
  /* width: 121px; */
  padding-right: 12px;
  background-color: #c7d9e1;
  /* font-family: Apercu, sans-serif; */
  /* font-size: 16px; */
  margin: 7px;
  /* display: flex; */
  /* width: 180px; */
  height: 32px;
  /* margin-left: 0px; */
  padding: 8px;
  /* -webkit-box-align: center; */
  /* -webkit-align-items: center; */
  -ms-flex-align: center;
  /* align-items: center; */
  border-radius: 12px;
  text-align: center;
}

.tag:first-child {
  margin-left: 0px;
}

.tag span {
  vertical-align: -webkit-baseline-middle;
  font-size: 12px;
}

.job-title {
  color:#888888

}


.proj-image {
  width: 60%;
  display: inline-block;
  text-align: center;
  margin: auto;
  background: aliceblue;
  margin-bottom: 0px; 
  padding: 10px 0px;
}

.proj-image img {
  width: 70%;
}

.show-card {
  width: 38%;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  margin-bottom: 0px;
}

.job-section:last-child {
  border-bottom: unset;
}

.show-card h2 {
  font-family: 'Fjalla One';
}

.show-card h3, .show-card h5, .show-card {
  font-family: 'Fjord One';
  font-size: 13px;
}

.button_repo a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px solid black;
  background: none;
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: no-underline;
  border-radius: 3px;
  /* text-align: center; */
  display: inline-block;
  width: 80px;
  margin-bottom: 10px;
  text-align: center;
}

.img12.card {
  height: 100%;
}

.footer-section {
  background: #97AFB9;
}

.footer-section h3 {
  margin-block-start: 0px;
}

.gettouch {
  text-align: center;
  padding: 60px;
}

.main-project {
  padding-bottom: 0px;
}

.footer-section {
  color: #fff;
  font-family: 'Fjalla One';
}

.footer-section a{
  text-decoration: none;
  display: block;
  margin: 10px;
  color: #fff;
  font-family: 'Fjalla One';
}

.button_repo a:hover {
  background-color: #f2f2f2;
}

#navig a {
  font-family: 'Fjalla One';

}

#details p {
  font-size: 24px;
  font-family: "Fjalla One";
  padding: 10px 32px;
}

@media screen and (min-width: 980px) and (max-width: 1200px) {
  .proj-image {
      width: 58%;
      /* height: calc(100vh - 117px); 
     height: -webkit-calc(100vh - 117px);   */
      /* height: 100vh; */
  }
  .button_repo a {
      font-size: 1em;
  }
}

@media screen and (min-width: 600px) and (max-width: 980px) {
    .proj-image {
        width: 59%;
        height: 100%;
        /* height: calc(100vh - 117px); 
       height: -webkit-calc(100vh - 117px);   */
        /* height: 100vh; */
    }
    .button_repo a {
        font-size: 1em;
    }
    .show-card {
      width: 37%;
    }
  }
  .is-mobile {
      display: none;
  }
  .not-a-mobile {
      display: inline-block;
  }


  .logo img {
      width: 21%;
  }

    @media only screen and (min-width: 600px) and (max-width: 850px) {
      nav {
          word-spacing: 35px;
          text-transform: uppercase;
          width: 76%;
          padding: 10px;
      }
      .logo {
          width: 10%;
          display: inline-block;
          padding: 10px;
      }
    }

    

  @media screen and (max-width: 600px) {
    .proj-image {
        width: 100%;
        /* height: 74vh; */
    }
    .show-card {
        width: 92%;
        padding: 10px;
        margin: 0px;
    }
    .is-mobile {
        display: inline-block;
    }
    .not-a-mobile {
        display: none;
    }

    #navig li {
        margin-right: 20px;
        list-style: none;
        display: inline-block;
    }
    nav {
        word-spacing: 35px;
        text-transform: uppercase;
        width: 76%;
        padding: 10px;
    }
    .logo {
        width: 10%;
        display: inline-block;
        padding: 10px;
    }
    .logo img {
        width: 85%;
    }
    #details h1 {
        font-size: 70px;
    }
    #details p {
        font-size: 20px;
    }
    img#port {
        height: 335px;
        width: 100%;
    }
    .tag span {
      font-size: 1.5em;
    }
  }

  @media screen and (min-width: 599px) {

  .proj-image {
    width: 100%;
  }
  .show-card {
    width: 100%;
  }
  .show-card h3, .show-card h5, .show-card {
    font-size: 1.25em;
  }
  .tag span {
    font-size: 1.25em;

  }
}


    #navig li a:visited {
      color: #000000;
    }

    #navig li a:hover {
      color: #97AFB9;
    }