      #img1
      {
        background-image: url("backgrimges/IMG_0856.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height:650px;
        width:100%;
        
      }
      #img2
      {
        background-image: url("backgrimges/IMG_4572 (1).jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        height:1100px;
        opacity: 0.8;
      }
      #img3
      {
        background-image: url("backgrimges/IMG_0509.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height:1100px;
        width:100%;
        opacity: 0.7;
      }
      #img4
      {
        background-image: url("backgrimges/IMG_0854 (1).jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height:650px;
        width:100%;
        opacity: 0.7;
      }		
      #img5
      {
        background-image: url("backgrimges/IMG_0953 (1).jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height:650px;
        width:100%;
        opacity: 0.7;
      }
      #intro
      {
        top: 205px;
        margin: auto;
        position: relative;
        width: 80%;
        height: 250px;
        opacity: 0.75;
        background-color: grey;
        padding-top: 35px;
        text-align: center;
      }

      #about
      {
        top: 105px;
        margin: auto;
        position: relative;
        width: 750px;
        width: 80%;
        opacity: 0.85;
        background-color: grey;
        padding-top: 35px;
        padding-bottom: 35px;
        text-align: center;
      }
      #project
      {
        top: 95px;
        margin: auto;
        position: relative;
        width:850px;
        width:90%;
        height:82%;
        opacity: 0.85;
        background-color: lightgrey;
        padding-top: 25px;
        text-align: center;      
      }
      #reslink
      {
        top: 205px;
        margin: auto;
        position: relative;
        width: 650px;
        width:80%;
        height: 250px;
        opacity: 0.75;
        background-color: grey;
        padding-top: 35px;
        text-align: center;
      }
      #contact
      {
        top: 205px;
        margin: auto;
        position: relative;
        width:85%;
        height: 350px;
        opacity: 0.75;
        background-color: grey;
        padding-top: 35px;
        padding: 20px;
        text-align: center;
      }
      .fornav 
      {
        list-style-type: none;
        margin: auto;
        margin-right: 50;
        padding: 0;
        overflow: hidden;
        background-color: white;
        display: inline;
      }

      .fornav a
      {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: black;
        float: right;

      }
      a:hover 
      {
        background-color: grey;
      }  
      figure img
      {
        height: 250px;
        width: 300px;
        border: 1px solid black;
      }   
      div.forimage
      {
        padding: 20px;
        padding-top: 10px;
        border: 1px solid black;
        margin-right:10px;
        margin-left:10px;
        margin-top:20px;
        height: 360px;
        width: 340px;
        text-align: center;
        float: left;
        clear: right;
        background-color: white;
        position: relative;
      } 

      .titleweb
      {
        text-align: center;
        position: relative;
        height:50px;
        width:250px;
        padding:10px;
        left: 35px;
      }
      #reslink a
      {
        text-align: center; 
        position: relative;
      }
      #containimg
      {
        margin:auto;
        padding: 20px;
      }
      #contact a
      {
        text-align: center; 
        position: relative;
      }
      #reslink a:link, #contact a:link
      { 
        color:black; 
        text-align: center; 
      }
      #reslink a:visited, #contact a:visited
      { 
        color:lightblue; 
      }
      #footer
      {
        display: inline;
      }
      table
      {
        align:center;
        margin:auto;
        position:relative;
        left:-55px;
      }
      @media screen and (min-width: 200px) and (max-width: 829px){
        #project
        {
          height:93%;
        }
        #img3
        {
          height:1800px;
        }
        div.forimage
        {
          margin-right: auto;
        }
    }
    @media screen and (min-width: 577px) and (max-width: 832px){
      div.forimage
      {
        position: relative;
        left:150px;
      }
    }
    @media screen and (min-width: 200px) and (max-width: 505px){
              .fornav 
      {
        list-style-type: none;
        margin: auto;
        margin-right: 50;
        padding: 0;
        overflow: hidden;
        background-color: white;
        display: inline;
      }
    }

}